* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html, body {
    width: 100%;
    height: 100%;
}

#root, #root > .app {
    background-color: #1F2027;
    color: #BEC2C8;
    width: 100%;
    /* min-height: 100vh; */
    height: 100%;
}

.routes {
    min-height: calc(100vh - 60px);
    /* height: calc(100vh - 60px); */
    background-color: #1F2027;
    color: #BEC2C8;
}

a {
    color: #65c0f2;
}
