* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}

html, body {
    width: 100%;
    height: 100%;
}

#root, #root > .app {
    width: 100%;
    height: 100%;
}